Packages
build
sourcemap.json
roblox.yml
net_output
*.lock

*.code-snippets

vendor/**

build.rbxl
build.rbxl.lock
build.rbxlx
build.rbxlx.lock
scripts.rbxl
scripts.rbxl.lock
scripts.rbxlx
scripts.rbxlx.lock